body{
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
}
.header{
    width: 100%;
    height: 75px;
    background-color: #2c6431;
    position: sticky;
    z-index: 1;
    top: 0;
}
.logo{
    margin-left: 120px;
    padding-top: 5px;
    float: left;
}
.nav-items{
    padding-top: 20px;
    margin-left: 400px;
    color: white;
}
.nav-items a{
    padding-left: 25px;
}
.nav-items input{
    margin-left: 150px;
    border: none;
    width: 200px;
    height: 35px;
}
.nav-items button{
    height: 37px;
    width: 50px;
    background-color: white;
    border: none;
}
.img{  
    margin-left: 30px;
}
.home-image img{
    width: 100%;
    height: auto;
}
.category{
    background-color: #000000;
    width: 100%;
    height: 250px;
    
}
.card{
    margin-right: 4px;
    float: left;
    text-align: center;
    height: 100%;
    width: 355px;
    border-left: 0.5px solid white ;
    color: white;

}
.card:hover{
    background-color: #2c6431;
}

.image{
    margin-top: 60px;
}
.trekking{
    position: relative;
    text-align: center;
    /* background-image: url("./images/b-trekking.jpeg"); */
    width: 100%;
}
.trekking img{
    width: 100%;
    height: auto;
}
.content{
    position: absolute;
    top: 50px;
    right: 300px;
    color: white;

}
.content h2{
    font-size: 50px;
    font-weight: lighter;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    line-height: .7;
}
.content p{
    max-width: 400px;
}
.explore{
    width: 170px;
    height: 50px;
    background-color: #2c6431;
    font-size: larger;
    color: white;
    border: none;

}
.explore-2{
    width: fit-content;
    height: 50px;
    background-color: #2c6431;
    font-size: larger;
    color: white;
    border: none;
}
.main-trekking-bag{
    
    width: 100%;
    height: fit-content;
}
.sub-trekking{
    position: relative;
    text-align: center;
}
.sub-trekking img{
    float: left;
    width: 50%;
    height: auto;
}
.sub-bag img{
    float: left;
    width: 50%;
    height: auto;
}
.content-2{
    
    position: absolute;
    left: 400px;
    color: white;
}
.content-2 h2{
    font-size: 40px;
    font-weight: lighter;
}
.content-2 h1{
    font-size: 55px;
    font-weight: 100;
    line-height: .7;
}
.content-2 p{
    max-width: 300px;

}


.content-3{
    position: absolute;
    right: 15px;
    color: white;
}
.content-3 h2{
    font-size: 40px;
    font-weight: lighter;
}
.content-3 h1{
    font-size: 55px;
    font-weight: 100;
    line-height: .7;
}
.content-3 p{
    max-width: 300px;
}
.research-lab{
    position: relative;
    text-align: center;
}
.content-4{
    position: absolute;
    color: white;
    top: 450px;
    right: 200px;
}
.content-4 p{
    max-width: 500px;

}
.content-4 h2{
    font-size: 40px;
    font-weight: lighter;
}
.content-4 h1{
    font-size: 55px;
    font-weight: 100;
    line-height: .7;
}
.pro-planet{
    position: relative;
}
.content-5{
    position: absolute;
    top: 10px;
    color: white;
    left: 130px;
}
.content-5 p{
    max-width: 500px;

}
.content-5 h2{
    font-size: 40px;
    font-weight: lighter;
}
.content-5 h1{
    font-size: 55px;
    font-weight: 100;
    line-height: .7;
}


.lookbook{
    position: relative;
}
.lookbook img{
    width: 100%;
    height: auto;
}
.content-6{
    position: absolute;
    top: 10px;
    color: white;
    right: 350px;
}
.content-6 p{
    max-width: 500px;

}
.content-6 h2{
    font-size: 40px;
    font-weight: lighter;
}
.content-6 h1{
    font-size: 55px;
    font-weight: 100;
    line-height: .7;
}
/*-----------------footer---------------------*/

.footer{
    margin-top: 0;
    width: 100%;
    height: 600px;
    background-color: black;
    color: white;
}
.footer h1{
    margin-left: 200px;
    font-size: 50px;
    font-weight: 100;
}
#ft{
    margin-left: 200px;
}
.sub-1{
    width: 25%;
    height: 200px;
    float: left;
    left: 0;
    padding-left: 50px;
}
.sub-2{
    position: absolute;
    left: 25%;
    width: 25%;
    height: 200px;
}
.sub-3{
    position: absolute;
    right: 25%;
    width: 25%;
    height: 100px;
}
.sub-4{
    position: absolute;
    right: 0;
    width: 25%;
    height: 100px;
}
.sub-5{
    position: absolute;
    top: 150px;
    right: 0;
    width: 50%;
    height: 110px;
    padding-top: 100px;
}
.footer-p{
    color: #969696;
}
.sub-5 input{
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
}
.sub-5 input:focus{
    background-color: white;
}
.sub-5 button{
    width: 50px;
    height: 47px;
    background-color: #2c6431;
    color: white;
}
.sub-5 h4{
    font-weight: lighter;
    font-size: larger;
}
.footer-sections{
    margin-left: 200px;
    position: relative;
    width: 70%;
    height: max-content;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.social{
    margin-top: 29%;
    width: 100%;
    height: 30px;
    padding-left: 200px;
}
.social img{
    padding-left: 20px;
}